/* EditorsNote Font - Light */
@font-face {
    font-family: 'EditorsNote';
    src: url('../../editors-note-font-family/EditorsNote-Light-iF664322be5b734.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* EditorsNote Font - Regular */
@font-face {
    font-family: 'EditorsNote';
    src: url('../../editors-note-font-family/EditorsNote-Regular-iF664322be6e849.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* EditorsNote Font - Semibold */
@font-face {
    font-family: 'EditorsNote';
    src: url('../../editors-note-font-family/EditorsNote-Semibold-iF664322be731c3.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
